<!DOCTYPE html>
<html>
<head>
  <title>Citata</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-2">
      <div class="circle">
        <br />
        INSPIRE
        <br />
        THE
        <br />
        WORLD
      </div>
    </div>
    <div class="col-xs-5 slogan">
      Citata, thousands of inspirations from the best technology quotes from around the globe.
    </div>
    <div class="col-xs-5 links">
      <%= link_to 'Contribute', '#' %>
      <%= link_to 'About Me', '#' %>
    </div>
  </header>
  <hr />
  <br class="clear" />

<%= yield %>

</body>
</html>
