<!DOCTYPE html>
<html>
<head>
  <title>Citata</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-2">
      <%= link_to root_path, class: 'logo' do %>
        <div class="circle">
          <br />
          INSPIRE
          <br />
          THE
          <br />
          WORLD
        </div>
      <% end %>
    </div>
    <div class="col-xs-5 slogan">
      Citata, thousands of inspirations from the best technology quotes from around the globe.
    </div>
    <div class="col-xs-5 links">
      <%= link_to 'Contribute', new_quote_path %>
      <%= link_to 'About Me', '#' %>
    </div>
  </header>
  <hr />
  <br class="clear" />

  <div class="container">
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
      <div class="col-xs-12 links_footer">
        Owned by <%= link_to 'Luna Bima Corporation', root_path, class: 'next-quote' %>
        <br />
        Created by <a href="http://fisto.blog">Fisto Riza Satianto</a>.
      </div>
    </div>
  </div>


</body>
</html>
